<!DOCTYPE html>
<html>
<head>
    <title>Assinatura dos Termos de Serviço</title>
</head>
<body>
    <h1>Assinatura dos Termos de Serviço</h1>
    <form action="/submit" method="post">

        <label for="user_email">Seu E-mail:</label>
        <input type="email" id="user_email" name="user_email" required><br>

        <label for="user_full_name">Nome Completo:</label>
        <input type="text" id="user_full_name" name="user_full_name" required><br>

        <label for="user_cpf">CPF:</label>
        <input type="text" id="user_cpf" name="user_cpf_cnpj" required><br>

        <h2> Endereço: </h2>

        <label for="user_address_cep">CEP:</label>
        <input type="text" id="user_address_cep" name="user_address_cep" required><br>

        <label for="user_address_logradouro">Logradouro:</label>
        <input type="text" id="user_address_logradouro" name="user_address_logradouro" required><br>

        <label for="user_address_numero">Número:</label>
        <input type="text" id="user_address_numero" name="user_address_numero" required><br>

        <label for="user_address_bairro">Bairro:</label>
        <input type="text" id="user_address_bairro" name="user_address_bairro" required><br>

        <label for="user_address_cidade">Cidade:</label>
        <input type="text" id="user_address_cidade" name="user_address_cidade" required><br>

        <label for="user_address_estado">Estado:</label>
        <input type="text" id="user_address_estado" name="user_address_estado" required><br>

        <button type="submit">Enviar</button>
    </form>
</body>
</html>
