/* Reset some default styles */
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #eee;
  background-color: #333;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Garante que o corpo da página ocupe no mínimo 100% da altura da janela visível */
  position: relative; /* Define o corpo da página como referência para o posicionamento absoluto do footer */
}

/* Estilo para o conteúdo principal */
.content {
  padding-bottom: 60px; /* Espaçamento inferior para evitar que o footer sobreponha o conteúdo */
}

/* Header */
header {
  background-color: #222;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #eee;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #fff;
}

/* Content */
.content {
  padding: 20px;
}

h1 {
  color: #fff;
  margin-bottom: 20px;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
  color: #eee;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #777;
  background-color: #444;
  color: #eee;
  border-radius: 4px;
}

input[type="checkbox"] {
  margin-left: 5px;
}

button[type="submit"] {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}


/* Estilo para o footer */
footer {
  background-color: #222;
  padding: 10px 0;
  text-align: center;
  color: #eee;
  position: absolute; /* Posicionamento absoluto */
  bottom: 0; /* Fixa o footer na parte inferior do corpo da página */
  width: 100%; /* Ocupa toda a largura disponível */
}