<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}My Website{% endblock %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Cadastrar</a></li>
        <li><a href="/cadastrar_peca">Cadastrar Peça</a></li>
        <li><a href="/consultar_peca">Consultar Peça</a></li>
        <li><a href="/remover_peca">Remover Peça</a></li>
        <li><a href="/cadastrar_cliente">Cadastrar Cliente</a></li>
      </ul>
    </nav>
  </header>
  <div class="content">
    {% block content %}
    {% endblock %}
  </div>
  <footer>
    <p>&copy; {{ current_year }} My Website. All rights reserved.</p>
  </footer>
</body>
</html>
