{% extends "base.html" %}
{% block title %}Cadastrar Peça{% endblock %}

{% block content %}
<h1>Cadastrar Peça</h1>
<form method="post">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" required>
    <br>

    <label for="image">Imagem da Peça:</label>
    <input type="file" name="image" class="form-control-file">
    <br>

    <label for="fabricante">Fabricante:</label>
    <input type="text" id="fabricante" name="fabricante" required>
    <br>

    <label for="descricao">Descrição:</label>
    <textarea id="descricao" name="descricao" rows="4" required></textarea>
    <br>

    <label for="valor">Valor:</label>
    <input type="text" id="valor" name="valor" required>
    <br>

    <button type="submit">Cadastrar</button>
</form>
{% endblock %}
