{% extends "base.html" %}
{% block title %}Consultar Peça{% endblock %}

{% block content %}
<h1>Consultar Peça</h1>
<form method="post">
    <label>Opção de Consulta:</label>
    <select name="opcao">
        <option value="1">Listar todas as peças</option>
        <option value="2">Consultar por código</option>
        <option value="3">Consultar por fabricante</option>
    </select>
    <br>

    <label for="codigo">Código da Peça:</label>
    <input type="text" id="codigo" name="codigo">
    <br>

    <label for="fabricante">Fabricante:</label>
    <input type="text" id="fabricante" name="fabricante">
    <br>

    <button type="submit">Consultar</button>
</form>

{% if pecas %}
    <h2>Resultado da Consulta</h2>
    <ul>
        {% for peca in pecas %}
            <li>
                {{ peca.nome }} (Código: {{ peca.id }})<br>
                Fabricante: {{ peca.fabricante }}<br>
                Descrição: {{ peca.descricao }}<br>
                Valor: R$ {{ peca.valor }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
