{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

    <div class="content">
        <h1>Bem-vindo à Loja de Peças - Sistema de Gerenciamento</h1>
        <p>Este sistema de gerenciamento de peças é projetado para fornecer uma solução eficiente para cadastrar, consultar e remover peças em uma loja. Aqui estão algumas das principais funcionalidades:</p>
        <ul>
            <li>Cadastrar novas peças com informações detalhadas.</li>
            <li>Consultar informações sobre peças cadastradas, pesquisando por código ou fabricante.</li>
            <li>Remover peças do banco de dados de forma segura e eficiente.</li>
            <li>Cadastrar novos clientes com informações completas para melhor atendimento.</li>
        </ul>

        <h2>Desenvolvedor</h2>
        <p>Este sistema foi desenvolvido por:</p>
        <div class="developer-info">
            <img src="/static/developer_profile.jpg" alt="Foto do Desenvolvedor">
            <div class="developer-details">
                <h3>José Calazans Abrantes Junior</h3>
                <p>Desenvolvedor Full Stack com vasta experiência em desenvolvimento de aplicações web. Especializado em tecnologias como Python, Flask, SQL e frontend frameworks como HTML, CSS, JavaScript e Bootstrap.</p>
                <p>Contato: jcalazans.jr@example.com</p>
                <p>GitHub: <a href="https://github.com/jcalazans-jr">jcalazans-jr</a></p>
            </div>
        </div>
    </div>


{% endblock %}
