{% extends "base.html" %}
{% block title %}Aluguel de Equipamentos{% endblock %}

{% block content %}
<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="text-center">Login</h1>
            </div>
            {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-warning" role="alert">
            <ul class="mb-0">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endwith %}
            <div class="modal-body p-5 pt-0">
                <form method="POST" action="{{ url_for('login') }}">
                    {{ form.csrf_token }}
                    <div class="form-floating mb-3">
                        {{ form.nome_usuario_email(class="form-control rounded-3", id="floatingInput", placeholder="Nome de Usuário ou E-mail") }}
                        <label for="floatingInput"> Nome de Usuário ou E-mail</label>
                    </div>
                    <div class="form-floating mb-3">
                        {{ form.senha(class="form-control rounded-3", id="floatingPassword", placeholder="Senha") }}
                        <label for="floatingPassword">Senha</label>
                    </div>
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Entrar</button>
                    <a href="{{ url_for('recuperar_senha') }}" class="btn btn-link btn-sm">Esqueci minha senha</a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="b-example-divider"></div>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
