<!DOCTYPE html>
<html>
<head>
    <title>Remover Peça</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Remover Peça</h1>
    <form method="post" action="/remover_peca">
        <label for="codigo">Código da Peça:</label>
        <input type="number" id="codigo" name="codigo" required>
        <input type="submit" value="Remover">
    </form>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
